.hok-featured-designers {
  width: 100%;
}

.hok-designers-desktop {
  display: block;
}

.hok-designers-mobile {
  display: none;
}

@media (max-width: 430px) {
  .hok-designers-desktop {
    display: none;
  }

  .hok-designers-mobile {
    display: block;
  }
}