.hok-commitment {
  width: 100%;
}

.hok-commitment-desktop {
  display: block;
}

.hok-commitment-mobile {
  display: none;
}

@media (max-width: 430px) {
  .hok-commitment-desktop {
    display: none;
  }

  .hok-commitment-mobile {
    display: block;
  }
}