/* ==========================================
   HERO WRAPPER
========================================== */

.hok-hero {
  width: 100%;
  overflow: hidden;
}

.hok-hero-desktop {
  display: block;
}

.hok-hero-mobile {
  display: none;
}

@media (max-width: 430px) {
  .hok-hero-desktop {
    display: none;
  }

  .hok-hero-mobile {
    display: block;
  }
}