.hok-testimonials {
  width: 100%;
}

.hok-testimonials-desktop {
  display: block;
}

.hok-testimonials-mobile {
  display: none;
}

@media (max-width: 430px) {
  .hok-testimonials-desktop {
    display: none;
  }

  .hok-testimonials-mobile {
    display: block;
  }
}