/* SECTION */
.hok-insta-section{
  padding:80px 0;
  background:var(--cream);
  /* background:#f7f3ee; */
}

/* HEADER */
.hok-insta-header{
  max-width:1200px;
  margin:0 auto 48px;
  display:flex;
  justify-content:space-between;
  align-items:flex-end;
  flex-wrap:wrap;
}

/* EYEBROW */
.hok-insta-eyebrow{
  font-size:10px;
  letter-spacing:.28em;
  color:#c9a96e;
  display:flex;
  align-items:center;
  gap:10px;
}

.hok-insta-line{
  width:24px;
  height:1px;
  background:#c9a96e;
   flex:1;
  max-width:80px;
}

/* TITLE */
.hok-insta-title{
  font-family:'Cormorant Garamond', serif;
  font-size:42px;
  margin-top:4px;
}

.hok-insta-title span{
  color:#c9a96e;
  font-style:italic;
}

/* BUTTON */
.hok-insta-btn{
    /* border-bottom:1px solid #1A1612; */

 font-size: 10px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #1A1612;
    padding-bottom: 2px;
    cursor: pointer;
    transition: 0.2s;
}
.hok-insta-grid{
  display:grid;
  grid-template-columns:repeat(6,1fr);
  gap:3px;
  margin-top:40px;
}

.hok-insta-btn:hover{
  color:#C9A96E;
  border-color:#C9A96E;
  transform:none;
}

/* GRID */
.hok-insta-row{
  max-width:1200px;
  margin:0 auto;
  justify-content:center;
}

/* CARD */
.hok-insta-card{
   will-change: transform;
  position:relative;
  width:100%;
  aspect-ratio:1/1;
  border-radius:4px;
  overflow:hidden;
  cursor:pointer;
  border:none;
  transition:.5s ease;
}
.hok-insta-card img{
  width:100%;
  height:100%;
  object-fit:cover;
}
/* ZOOM */
.hok-insta-card:hover{
  transform:none;
  box-shadow:none;
}
.hok-insta-card:hover img{
  transform:scale(1.05);
}
/* IMAGE EFFECT */


/* OVERLAY */
.hok-insta-overlay{
  position:absolute;
  inset:0;
  background:rgba(26,22,18,0.55);
  opacity:0;
  transition:0.25s;
}

.hok-insta-card:hover .hok-insta-overlay{
  opacity:1;
}

/* ICON (REEL FEEL) */
.hok-insta-icon{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%) scale(0.8);
  font-size:22px;
  color:#fff;
  opacity:0;
  transition:.4s;
}

.hok-insta-card:hover .hok-insta-icon{
  opacity:1;
  transform:translate(-50%, -50%) scale(1);
}

/* FOOTER */
.hok-insta-footer{
  margin-top:50px;
  text-align:center;
}

.hok-insta-footer-line{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:20px;
}

.hok-insta-footer p{
  font-family:'Cormorant Garamond', serif;
  font-size:18px;
  font-style:italic;
  color:#8A7E72;
}

/* RESPONSIVE */
@media(max-width:992px){
  .hok-insta-title{ font-size:34px; }
}

@media(max-width:768px){

  .hok-insta-title{ font-size:28px; }

  .hok-insta-header{
    flex-direction:column;
    align-items:flex-start;
    gap:12px;
    margin-bottom:12px;
  }

}

@media(max-width:992px){
  .hok-insta-grid{
    grid-template-columns:repeat(4,1fr);
  }
}

@media(max-width:768px){
  .hok-insta-grid{
    grid-template-columns:repeat(3,1fr);
  }
}

@media(max-width:480px){
  .hok-insta-grid{
    grid-template-columns:repeat(2,1fr);
  }
}