/* src\styles\confirmation\layout\confirmation-layout.css */
.confirmation-layout {
  min-height: 100vh;
  
}

.confirmation-layout-container {
  width: 100%;
  max-width: 1380px;

  margin: 0 auto;
  padding: 0 64px 128px;
}

.confirmation-piece-group {
  padding-bottom: 32px;
  margin-bottom: 48px;
  border-bottom: 1px solid #F0EAE0;
}