.hok-how-it-works {
  width: 100%;
}

.hok-hiw-desktop {
  display: block;
}

.hok-hiw-mobile {
  display: none;
}

@media (max-width: 430px) {
  .hok-hiw-desktop {
    display: none;
  }

  .hok-hiw-mobile {
    display: block;
  }
}