/* OVERLAY */
.remove-overlay {
  position: fixed;
  inset: 0;

  background: rgba(24, 20, 15, 0.45);
  backdrop-filter: blur(3px);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 500;

  opacity: 0;
  animation: fadeIn 0.25s ease forwards;
}

/* DIALOG PANEL */

.remove-dialog {
  background: #FFFEFB;

  width: 100%;
  max-width: 400px;

  padding: 40px 36px 32px;

  border-top: 2px solid #18140F;
  position: relative; 

  transform: translateY(12px) scale(0.98);
  animation: dialogIn 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

/* CLOSE BUTTON  */

.remove-close {
  position: absolute;
  top: 16px;
  right: 16px;

  width: 28px;
  height: 28px;

  border-radius: 50%;
  border: 1px solid #E8E0D4;

  background: #FFFEFB;
  color: #B0A898;

  cursor: pointer;
}

.remove-close:hover {
  border-color: #18140F;
  color: #18140F;
}

/* PREVIEW STRIP  */

.remove-preview {
  display: flex;
  gap: 14px;

  padding-bottom: 24px;
  border-bottom: 1px solid #F0EAE0;
}

/* Thumbnail */

.remove-thumb {
  width: 48px;
  aspect-ratio: 3 / 4;
}

.remove-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Text  */
.remove-brand {
  font-size: 8.5px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #9A7010;
  margin-bottom: 3px;
}

.remove-name {
  font-family: "Cormorant Garamond", serif;
  font-size: 16px;
  color: #18140F;
  line-height: 1.25;
}


/* TITLE TEXT */

.remove-title {
  font-family: "Cormorant Garamond", serif;
  font-size: 22px;
  margin-top: 24px;
}

.remove-desc {
  font-size: 11.5px;
  color: #6F675A;
  margin-bottom: 28px;
}

/* CTA PRIMARY */

.dialog-btn-primary {
  width: 100%;
  padding: 14px 20px;
  background: var(--charcoal);
  color: var(--gold-light);
  font-size: 10px;
  letter-spacing: 0.22em;
  text-transform: uppercase;
  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  border: none;
  margin-bottom: 10px;
}

/* CTA SECONDARY */

.dialog-btn-secondary {
  width: 100%;
  padding: 13px 20px;

  background: transparent;
  color: var(--muted);

  border: 1px solid #E8E0D4;

  font-size: 10px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  font-weight: 400;
}

.dialog-btn-secondary:hover {
  border-color:var(--terracotta);
  color: var(--terracotta);
}

/*ANIMATIONS */

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes dialogIn {
  to {
    transform: translateY(0) scale(1);
  }
}