/* ==========================================
   DESKTOP
========================================== */

.hok-desktop-header-wrapper {
  display: block;
}

.hok-header-desktop {
  position: sticky;
  z-index: 250;
}

/* ==========================================
   MOBILE
========================================== */

.hok-mobile-sticky-wrapper {
  display: none;
}

.hok-header-mobile {
  position: relative;
  z-index: 250;
}

@media (max-width: 767px) {
  .hok-desktop-header-wrapper {
    display: none;
  }

  .hok-mobile-sticky-wrapper {
    display: block;

    position: sticky;
    top: 0;

    z-index: 500;
  }
}