.btn-primary {
  background: #1A1612;
  color: #FFFFFF;

  font-family: "DM Sans", sans-serif;
  font-size: 11px;
  font-weight: 400;

  letter-spacing: 0.2em;
  text-transform: uppercase;

  padding: 14px 36px;

  border: none;
  border-radius: 1px;

  cursor: pointer;

  transition:
    background 0.2s,
    transform 0.15s;
}

.btn-primary:hover {
  background: #2E2520;
  transform: translateY(-1px);
}


.btn-outline {
  background: transparent;
  color: #1A1612;

  font-family: "DM Sans", sans-serif;
  font-size: 11px;
  font-weight: 400;

  letter-spacing: 0.2em;
  text-transform: uppercase;

  padding: 13px 32px;

  border: 1px solid #1A1612;
  border-radius: 1px;

  cursor: pointer;

  transition: all 0.2s;
}

.btn-outline:hover {
  background: #1A1612;
  color: #FFFFFF;
  transform: translateY(-1px);
}